@import "tailwindcss";

@theme {
  --color-primary: #65c6dc;
  --color-secondary: #1152d4;
  --color-accent: #8c25f4;
  --font-sans: "Lexend", sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 280px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
}

#root {
  width: 100%;
}
